<div class="container">
  <h1>Vista por cliente</h1>

  <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ post.id }}</p>
  </div>

  <div>
    <strong>Nombre:</strong>
    <p>{{ post.nombre }}</p>
  </div>

  <div>
    <strong>Apellido:</strong>
    <p>{{ post.apellido }}</p>
  </div>
  <div>
    <strong>pais:</strong>
    <p>{{ post.pais }}</p>
  </div>

  <div>
    <strong>departamento:</strong>
    <p>{{ post.departamento }}</p>
  </div>


</div>
