<div class="container">
  <h1>Creacion de nuevo Cliente</h1>

  <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="form-control"
      />
      <div
        *ngIf="f['name'].touched && f['name'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['name'].errors && f['name'].errors['required']">
          Title is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Apellido</label>
      <textarea
        formControlName="lastname"
        id="lastname"
        type="text"
        class="form-control"
      >
      </textarea>
      <div
        *ngIf="f['lastname'].touched && f['lastname'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">
          Body is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cel">pais</label>
      <textarea
        formControlName="cel"
        id="cel"
        type="text"
        class="form-control"
      >
      </textarea>
      <div
        *ngIf="f['cel'].touched && f['cel'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['cel'].errors && f['cel'].errors['required']">
          Body is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">departamento</label>
      <textarea
        formControlName="email"
        id="email"
        type="text"
        class="form-control"
      >
      </textarea>
      <div
        *ngIf="f['email'].touched && f['email'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['email'].errors && f['email'].errors['required']">
          Body is required.
        </div>
      </div>
    </div>
  <br>

    <button class="btn btn-primary" type="submit" >
      Submit
    </button>
  </form>
</div>
